*{
    padding: 0;
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
    overflow: hidden;
}
body{
    /*background-image: url("../img/fondo2.jpg");
	background-repeat: no-repeat;
   	background-size: cover;*/
    background-image: linear-gradient(140deg,#B30917, #B30917, #B30917,#DB7D0A,#DB7D0A,#DB7D0A);
    background-size: 500%;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
    justify-content: center;
    align-items: center;
}
/*Botón y nombre de Usuario*/
.header{
    display: flex;
    justify-content: flex-end;
    margin: 0px 100px;
}
.header2{
    display: none;
}
/*Nombre de Usuario*/
.nombreUsuario{
    margin-right: auto;
    text-align: left;
    color: white;
    background-color: transparent;
    font-weight: lighter;
    font-size: 23px;
    padding: 15px;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Boton de cerrar sesion*/
.endSesion{
    height: 50px;
    width: 150px;
    margin-top: 6px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    color: white;
    border: 1px solid white;
    font-size: 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
.endSesion a{
    color: white;
    text-decoration: none;
}
.endSesion2{
    display: none;
}
/*Barra de navegacion*/
/*Fondo y medidas de la barra de navegación*/
.nav-toggle{
    display: none;
}
.navigationBar{
    height: auto;
    width: auto;
    background-color: #fcfcfc;
    height: 50px;
    margin: 0px 100px;
    padding: 0px 10px 0px;
    border-radius: 3px;
}
/*Configuración responsive general de todos los botones de la barra de navegación*/
.navButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    width: auto;
    margin: auto;
}
/*Eliminación de las apariencias de "link"*/
.links{
    text-decoration: none;
}
/*Boton activo en la barra de navegación*/
.buttonActive{
    color: black;
    margin: 10px 25px;
    height: 37px;
    font-size: 18px;
    font-weight: bold;
    width: max-content;
    color: #f8881f;
    border-bottom: 3px solid #f8881f;
    transition: .2s;
    cursor: pointer;
}
/*Efecto de hover(cambio de color en los botones no activos)*/
.buttons:hover{
    color: #f8881f;
    border-bottom: 3px solid #f8881f;
    transition: .2s;
}
/*Conficugracion del botón activo*/
.buttons{
    color: black;
    margin: 10px 25px;
    height: 37px;
    font-size: 18px;
    font-weight: bold;
    width: max-content;
}
/*Contenedor Principal (almacena los demas contenedores)*/
.container{
    margin: 0 auto;
    padding: 20px 0px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
/*Contenedor con la informacion de contacto (correo, nombre, apellido, etc...)*/
.contInfo{
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    width: auto;
    height: 100%;
    border: 1px solid #fcfcfc;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    border-radius: 3px;
    color: white;
    font-weight: lighter;
    padding: 20px;
}
.contInfoTitulo h2{
    font-weight: lighter;
}
.contInfoTitulo{
    display: flex;
    width: auto;
    justify-content: space-between;
}
.addAdmin{
    background-color: rgba(255,255,255,0.1);
    color: white;
    border: 1px solid white;
    font-size: 1em;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
}
.addAdmin2{
    display: none;
}
.admins{
    border: 1px solid white;
    border-radius: 3px;
    width: auto;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(15px);
    margin: 20px 100px;
    padding: 20px;
    width: auto;
    padding: 20px;
}
.contName h4{
    color: #fcfcfc;
    font-weight: lighter;
    font-size: 20px;
}
.contName{
    display: flex;
    margin: 0px auto;
    border-bottom: 1px solid #fcfcfc;
    padding: 10px;
}

.contName h3{
    margin-left: 10px;
}
.contName h3{
    color: black;
    font-weight: bold;
}
.contNameF{
    display: flex;
    margin: 0px auto;
    padding: 10px;
}
.contNameF h4{
    color: #fcfcfc;
    font-weight: lighter;
    font-size: 20px;
}
.contNameF h3{
    margin-left: 10px;
}
.contNameF h3{
    color: black;
    font-weight: bold;
}
/*Media query's para responsividad*/
/*Para tablets*/
@media only screen and (min-width: 981px) and (max-width: 1200px){
    *{
        overflow: hidden;
    }
    .containerKing{
        width: 100%;
        margin: 35% auto;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        margin: 0px 20px;
    }
    .header2{
        display: none;
    }
    .endSesion2{
        display: none;
    }
    .navigationBar{
        height: auto;
        width: auto;
        background-color: #fcfcfc;
        height: 50px;
        margin: 0px 20px;
        padding: 0px 10px 0px;
        border-radius: 3px;
    }
    .container{
        margin: 0px 20px;
        padding: 20px 0px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .contInfo{
        width: 95%;
        margin: 0;
    }
    .admins{
        width: 95%;
        margin: 20px 0;
    }
}
@media only screen and (min-width: 701px) and (max-width: 980px){
    *{
        overflow: hidden;
    }
    .containerKing{
        width: 100%;
        margin: 30% auto;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        margin: 0px 10px;
    }
    .header2{
        display: none;
    }
    .endSesion2{
        display: none;
    }
    .navigationBar{
        height: auto;
        width: auto;
        background-color: #fcfcfc;
        height: 50px;
        margin: 0px 10px;
        padding: 0px 10px 0px;
        border-radius: 3px;
    }
    .container{
        margin: 0px 10px;
        padding: 20px 0px;
        width: auto;
        height: auto;
        display: flex;
        justify-content: flex-end;
    }
    .contInfo{
        width: 94%;
        margin: 0;
    }
    .admins{
        width: 94%;
        margin: 20px 0;
    }
}
/*Para telefonos*/
@media only screen and (min-width: 280px) and (max-width: 700px){
    *{
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .containerKing{
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    .header{
        display: flex;
        justify-content: flex-end;
        margin: 0px 10px;
        display: none;
    }
    .header2{
        display: flex;
        justify-content: flex-end;
        margin: 0px 10px;
    }
    .nav-toggle{
        overflow: hidden;
        display: block;
        width: 50px;
        height: 50px;
        font-size: 30px;
        border: none;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(15px);
        padding: 0 20px;
        line-height: 60px;
        float: left;
        color: white;
        padding-right: 100%;
        padding-left: 10px;
    }
    .navButtons{
        overflow: hidden;
        flex-direction: column;
        margin-top: 48px;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(15px);
        align-items: center;
        position: fixed;
        left: 100%;
        top: 0px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 0px);
        transition: left 0.2s;
        overflow-y: auto;
    }
    .buttons{
        color: #fcfcfc;
    }
    .nav-menu_visible {
        left: 0;
    }
    /*Nombre de Usuario*/
    .nombreUsuario{
        margin-right: auto;
        margin-top: 65px;
        text-align: left;
        color: white;
        background-color: transparent;
        font-weight: lighter;
        font-size: 18px;
        padding: 10px;
        flex-wrap: wrap;
        flex-direction: row;
    }
    /*Boton de cerrar sesion*/
    .endSesion{
        height: 50px;
        width: 150px;
        margin-top: 60px;
        margin-bottom: 10px;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(15px);
        color: white;
        font-size: 18px;
        border-color: white;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        display: none;
    }
    .endSesion2{
        height: 50px;
        width: 100%;
        margin: 20px auto;
        margin-bottom: 0;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(15px);
        color: white;
        font-size: 18px;
        border: 1px solid #fcfcfc;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        display: block;
    }
    .endSesion2 a{
        color: white;
        text-decoration: none;
        font-weight: lighter;
        font-size: 1.2em;
    }
    .addAdmin2{
        height: 50px;
        width: 100%;
        margin: 20px auto;
        margin-bottom: 0;
        background-color: rgba(255,255,255,0.1);
        backdrop-filter: blur(15px);
        color: white;
        font-size: 18px;
        border: 1px solid #fcfcfc;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
        display: block;
    }
    .addAdmin2 a{
        color: white;
        text-decoration: none;
        font-weight: lighter;
        font-size: 1.2em;
    }
    .navigationBar{
        height: auto;
        width: auto;
        background-color: rgba(255,255,255,0.1);
        /*backdrop-filter: blur(15px);*/
        height: 50px;
        margin: 0px;
        padding: 0px;
        border-radius: 3px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 1;
        position: fixed;
    }
    .container{
        margin: 0px 10px;
        padding: 20px 0px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
    }  
    .addAdmin{
        display: none;
    }  
    .admins{
        width: 87%;
        margin: 20px auto;
        margin-bottom: 0px;
    }
    /*Contenedor con la informacion de contacto (correo, nombre, apellido, etc...)*/
    .contInfo{
        margin: 0px auto;
        margin-top: 0px;
        padding: 20px;
        width: 87%;
        height: 100%;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(15px);
        border-radius: 3px;
        color: white;
        font-weight: lighter;
        padding: 20px;
    }
    .contInfoTitulo h2{
        font-weight: lighter;
        font-size: 1.5em;
        padding: 0 5px 0 0;
    }
    .contInfoTitulo{
        display: flex;
        width: auto;
        justify-content: space-between;
    }
}
