*{
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'M PLUS 1p', sans-serif;
}
body{
  font-family: 'PT Sans' , sans-serif;
    background-image: linear-gradient(140deg,#B30917,#DB7D0A,#DB7D0A,#DB7D0A,#B30917,#DB7D0A,#B30917,#DB7D0A,#DB7D0A);
    background-size: 500%;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
}

.ContKing{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flechita{
    background-color: rgba(255,255,255,0.5);
    width: 50%;
    padding: 20px;
    backdrop-filter: blur(4px);
    margin-top: 25px;
    font-size: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.chatBody{
    height: 365px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 50%;
    padding: 20px;
    margin: auto;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(15px);
    color: White;
    font-weight: lighter;
}

.panelMensajeDerecho,
.panelMensajeIzquiendo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
}
.panelMensajeDerecho{
    align-items: flex-end;
}
.panelMensajeDerecho .chat-cuerpo,
.panelMensajeIzquiendo .chat-cuerpo {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: auto;
    height: 50%;
    background-color: rgba(255,255,255,0.2);
    color: black;
    font-weight: lighter;
    max-width: 50%;
    backdrop-filter: blur(4px);
    margin-left: 0.5rem;
    border-radius: 0 20px 20px 20px;
    padding: 10px 15px;
    font-size: .9em;
    margin-bottom: 9px;
}
.panelMensajeDerecho .chat-cuerpo {
    margin-left: 0;
    margin-right: 0.5rem;
    border-radius: 20px 0 20px 20px;
}

.OpChat{
    display: flex;
    backdrop-filter: blur(15px);
    background-color: white;
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.5);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    justify-content: space-between;
    font-size: 25px;
    align-items: flex-start;
}

.Message{
    width: 90%;
    resize: none;
    border-radius: 10px;
    padding: 5px;
    overflow-y: auto;
}

.iconss{
    display: flex;
    margin: 10px;
    width: 30%;
}

.iconss i{
    margin-right: 20px;.
}

@media only screen and (max-width: 1025px){

    .ContKing{
        margin-top: 30%;
    }

    .chatBody{
    width: 80%;
    height: 500px;
    }

    .OpChat{
    width: 80%;
    }

    .flechita{
    width: 80%;
}

}

@media only screen and (max-width: 500px){
    .Message{
        width: 50%;
    }

    .iconss i{
        margin-right: 0;
    }

    .ContKing{
        margin-top: 0;
    }

}

@media only screen and (max-width: 280px){

    *{
        overflow-y: scroll;
    }

}